*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.navbar-brand img
{
    height: 45px;
    padding: left 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color:#fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color:#fff;
    font-size:30px !important;
}
.navbar-toggler
{
    outline:none !important
}







.heading
{
    font-size: 35px;
    font-weight: 550;
    margin-top: 100px;
    color: #120d13;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}


body
{
    background: #eee;
}

.heading
{
    color: #121111;
    font-size: 40px;
    text-align: center;
    padding: 80px;
}
.container-learn
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.container-learn .main-video
{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
} 

.container-learn .main-video .video
{
    width: 100px;
    border-radius: 5px;
}

.container-learn .main-video .title
{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container-learn .vidoe-list
{
    background: #fff;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}
.container-learn .vidoe-list::-webkit-scrollbar
{
    width: 7px;
}
.container-learn .vidoe-list::-webkit-scrollbar-track
{
    background: #ccc;
    border-radius: 50px;
}
.container-learn .vidoe-list::-webkit-scrollbar-thumb
{
    background: #666;
    border-radius: 50px;
}


.container-learn .vidoe-list .vid
{
    width: 100px;
    border-radius: 5px;
}
.container-learn .vidoe-list .vid
{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.container-learn .vidoe-list .vid:hover
{
    background: #eee;
}
.container-learn .vidoe-list .vid .active
{
    background: #2980b9;
}
.container-learn .vidoe-list .vid .active .title
{
    color: #fff;
}
.container-learn .vidoe-list .vid .title
{
    color: #333;
    font-size: 17px;
}
@media (max-width:991px){
    .container-learn
    {
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
    }
}
@media (max-width:768px){
    .container-learn
    {
    grid-template-columns:1fr;
    }
}



/*-----------footer----------*/
#footer
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
}
.footer_img
{
    width: 100%;

}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}

hr
{
    background-color: #fff;
}
.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}




.word
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    color: #52006d;
}

.learn {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.video {
    width: 60%; 
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}